
@{
    ViewBag.Title = "Merge PDF Demo";
    Layout = "~/Views/Shared/_Layout.cshtml";

    String crtPageUri = Request.Url.AbsoluteUri;
    String pageUri = crtPageUri.Substring(0, crtPageUri.Length - "MergePdf".Length);
    ViewData["PdfUrl1"] = pageUri + "DemoFiles/Pdf/WikiHtml.pdf";
    ViewData["PdfUrl2"] = pageUri + "DemoFiles/Pdf/WikiPdf.pdf";
}

<script>
    SelectTreeViewNode("treeView_MergePdf");
</script>

@using (Html.BeginForm("CreatePdf", "EditPdf", FormMethod.Post))
{
    <table cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td>
                    In this demo you can learn how to merge multiple PDF document into a single PDF
                    document. Initially is created an empty document which will become the final document.
                    Then the two PDF files are loaded into two PdfDocument objects which are added
                    to the empty document.
                </td>
            </tr>
            <tr>
                <td style="height: 20px"></td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <a id="ctl00_ContentPlaceHolder1_hyperLinkOpenPdf1" href="@(ViewData["PdfUrl1"].ToString())" target="_blank">Open the First PDF Document to Merge</a>
                                </td>
                                <td style="width: 50px"></td>
                                <td>
                                    <a id="ctl00_ContentPlaceHolder1_hyperLinkOpenPdf2" href="@(ViewData["PdfUrl2"].ToString())" target="_blank">Open the Second PDF Document to Merge</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="height: 20px"></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" name="buttonMergePdf" value="Merge PDF" id="buttonMergePdf">
                </td>
            </tr>
        </tbody>
    </table>
}
