
@{
    ViewBag.Title = "Extract Images from PDF Demo";
    Layout = "~/Views/Shared/_Layout.cshtml";

    String crtPageUri = Request.Url.AbsoluteUri;
    String pageUri = crtPageUri.Substring(0, crtPageUri.Length - "ExtractImagesFromPdf".Length);
    ViewData["PdfUrl"] = pageUri + "DemoFiles/Pdf/InputPdf.pdf";
}

<script>
    SelectTreeViewNode("treeView_ExtractImagesFromPdf");
</script>

@using (Html.BeginForm("ExtractImages", "ExtractImagesFromPdf", FormMethod.Post))
{
    <table cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td>
                    In this demo you can learn how to extract the images from a PDF document. You can choose the range of PDF pages from where to extract the images.
                    Images will be extracted in memory in .NET Image objects.
                </td>
            </tr>
            <tr>
                <td style="height: 20px"></td>
            </tr>
            <tr>
                <td style="font-weight: bold">
                    PDF document:
                </td>
            </tr>
            <tr>
                <td style="height: 10px"></td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <a id="hyperLinkOpenPdf" href="@(ViewData["PdfUrl"].ToString())" target="_blank">Open the Input PDF Document</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="height: 20px"></td>
            </tr>
            <tr>
                <td style="font-weight: bold">
                    Page Range
                </td>
            </tr>
            <tr>
                <td style="height: 10px"></td>
            </tr>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td>
                                    From:
                                </td>
                                <td style="width: 5px"></td>
                                <td>
                                    <input name="textBoxFromPage" type="text" value="1" id="textBoxFromPage" style="width:35px;">
                                </td>
                                <td style="width: 30px"></td>
                                <td>
                                    To:
                                </td>
                                <td style="width: 5px"></td>
                                <td>
                                    <input name="textBoxToPage" type="text" id="textBoxToPage" style="width:35px;">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="height: 20px"></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" name="buttonExtractImages" value="Extract Images" id="buttonExtractImages">
                </td>
            </tr>
        </tbody>
    </table>
}

