
@{
    ViewBag.Title = "Digital Signatures Demo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    SelectTreeViewNode("treeView_DigitalSignatures");
</script>

@using (Html.BeginForm("CreatePdf", "DigitalSignatures", FormMethod.Post))
{
    <table cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td>
                    In this demo you can learn how to add a digital signature to a PDF document based on a certificate from a PFX file.
                    The digital signature is applied over an image in PDF document and you can click on that image to see the digital
                    certificate properties.
                </td>
            </tr>
            <tr>
                <td style="height: 20px"></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" name="buttonCreatePdf" value="Create PDF with Digital Signature" id="buttonCreatePdf">
                </td>
            </tr>
        </tbody>
    </table>
}

