
@{
    ViewBag.Title = "Headers and Footers in PDF Demo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    SelectTreeViewNode("treeView_PdfHeadersAndFooters");
</script>

@using (Html.BeginForm("ConvertToPdf", "PdfHeadersAndFooters", FormMethod.Post))
{
    <table cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td>
                    The HiQPdf HTML to PDF Converter offers a great flexibility in setting the PDF document
                    headers and footers. Per PDF page customization of header and footer can be done
                    in PdfPageCreating event handler.
                    <br>
                    <br>
                    Basically you can add anything in the header and footer from plain text to full
                    HTML documents, override the default document header and footer in any page with
                    a customized header and footer, hide the header and footer in any PDF page.
                </td>
            </tr>
            <tr>
                <td style="height: 20px"></td>
            </tr>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td style="padding-bottom: 5px; font-weight: bold">
                                    The URL of a HTML Document to Convert:
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input name="textBoxUrl" type="text" value="http://www.hiqpdf.com/html/html5_introduction.html" id="textBoxUrl" style="width:590px;">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="height: 20px"></td>
            </tr>
            <tr>
                <td style="font-weight: bold">
                    PDF Settings
                </td>
            </tr>
            <tr>
                <td style="height: 20px"></td>
            </tr>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td>
                                    <input id="checkBoxDisplayHeaderInFirstPage" type="checkbox" name="checkBoxDisplayHeaderInFirstPage" checked="checked"><label for="checkBoxDisplayHeaderInFirstPage">Display header in first page</label>
                                </td>
                                <td style="width: 85px"></td>
                                <td>
                                    <input id="checkBoxDisplayFooterInFirstPage" type="checkbox" name="checkBoxDisplayFooterInFirstPage" checked="checked"><label for="checkBoxDisplayFooterInFirstPage">Display footer in first pagee</label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" style="height: 5px"></td>
                            </tr>
                            <tr>
                                <td>
                                    <input id="checkBoxDisplayHeaderInSecondPage" type="checkbox" name="checkBoxDisplayHeaderInSecondPage" checked="checked"><label for="checkBoxDisplayHeaderInSecondPage">Display header in second page</label>
                                </td>
                                <td style="width: 85px"></td>
                                <td>
                                    <input id="checkBoxDisplayFooterInSecondPage" type="checkbox" name="checkBoxDisplayFooterInSecondPage" checked="checked"><label for="checkBoxDisplayFooterInSecondPage">Display footer in second page</label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" style="height: 5px"></td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <input id="checkBoxCustomizedHeaderInSecondPage" type="checkbox" name="checkBoxCustomizedHeaderInSecondPage" checked="checked"><label for="checkBoxCustomizedHeaderInSecondPage">Replace in second page the default document header with a customized header</label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" style="height: 5px"></td>
                            </tr>
                            <tr>
                                <td>
                                    <input id="checkBoxDisplayPageNumbersInFooter" type="checkbox" name="checkBoxDisplayPageNumbersInFooter" checked="checked"><label for="checkBoxDisplayPageNumbersInFooter">Display page numbers in footer</label>
                                </td>
                                <td style="width: 85px"></td>
                                <td>
                                    <input id="checkBoxPageNumbersInHtml" type="checkbox" name="checkBoxPageNumbersInHtml"><label for="checkBoxPageNumbersInHtml">Page numbers in HTML</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="height: 20px"></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" name="buttonCreatePdf" value="Create PDF with Header and Footer" id="buttonCreatePdf">
                </td>
            </tr>
        </tbody>
    </table>
}
