
@{
    ViewBag.Title = "HTML to PDF - Convert a Part of HTML to PDF";
    Layout = "~/Views/Shared/_Layout.cshtml";

    String crtPageUri = Request.Url.AbsoluteUri;
    String pageUri = crtPageUri.Substring(0, crtPageUri.Length - "ConvertHtmlRegionToPdf".Length);
    ViewData["Url"] = pageUri + "DemoFiles/Html/ConvertHtmlPart.html";
}

<script>
    SelectTreeViewNode("treeView_ConvertHtmlRegionToPdf");
</script>

@using (Html.BeginForm("ConvertToPdf", "ConvertHtmlRegionToPdf", FormMethod.Post))
{
    <table cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td>
                    In this demo you can learn how to convert to PDF only the HTML element selected
                    by a CSS selector. By default the CSS selector selects the DIV having the 'Content'
                    ID from HTML document. You can modify the CSS selector to select another HTML element.
                    For example, you can set #Header to convert to PDF only the header of the HTML document
                    or #Footer to convert only the footer of the HTML document to PDF.
                </td>
            </tr>
            <tr>
                <td style="height: 20px"></td>
            </tr>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td colspan="3" style="padding-bottom: 5px; font-weight: bold">
                                    HTML Document URL
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input name="textBoxUrl" type="text" value="@(ViewData["Url"].ToString())" id="textBoxUrl" style="width:590px;">
                                </td>
                                <td style="width: 5px"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="height: 20px"></td>
            </tr>
            <tr>
                <td style="font-weight: bold">
                    CSS Selector of the HTML Element to Convert
                </td>
            </tr>
            <tr>
                <td style="height: 10px"></td>
            </tr>
            <tr>
                <td>
                    <input name="textBoxConvertedHtmlElementSelector" type="text" value="#Content" id="textBoxConvertedHtmlElementSelector" style="width:590px;">
                </td>
            </tr>
            <tr>
                <td style="height: 20px"></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" name="buttonCreatePdf" value="Create PDF" id="buttonCreatePdf">
                </td>
            </tr>
        </tbody>
    </table>
}

