
@{
    ViewBag.Title = "PDF Open Action";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    SelectTreeViewNode("treeView_PdfOpenAction");
</script>

@using (Html.BeginForm("CreatePdf", "PdfOpenAction", FormMethod.Post))
{
    <table cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td>
                    In this demo you can learn how to set an action to be executed when the PDF document
                    is opened. There are 4 possible types of actions: execute a JavaScript, go to a
                    location in PDF, submit PDF document form and reset PDF document form.<br>
                    <br>
                    In this demo only the JavaScript and GoTo actions are exemplified. The JavaScript
                    action is used to display an alert message when the document is opened. The GoTo
                    Action is used to initially display a given page of the PDF document when the document
                    is opened.
                </td>
            </tr>
            <tr>
                <td style="height: 20px"></td>
            </tr>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td colspan="2" style="font-weight: bold">
                                    <input id="radioButtonJavaScript" type="radio" name="ActionType" value="radioButtonJavaScript" checked="checked"><label for="radioButtonJavaScript">Execute a JavaScript Action when the Document is Opened</label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="height: 10px"></td>
                            </tr>
                            <tr>
                                <td style="width: 50px"></td>
                                <td>
                                    <table cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    Alert Message:
                                                </td>
                                                <td style="width: 10px"></td>
                                                <td>
                                                    <input name="textBoxAlertMessage" type="text" value="Open Document JavaScript Action !!!" id="textBoxAlertMessage" style="width:382px;">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="height: 10px"></td>
                            </tr>
                            <tr>
                                <td colspan="2" style="font-weight: bold">
                                    <input id="radioButtonGoTo" type="radio" name="ActionType" value="radioButtonGoTo"><label for="radioButtonGoTo">Execute a GoTo Action when the Document is Opened</label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="height: 10px"></td>
                            </tr>
                            <tr>
                                <td style="width: 50px"></td>
                                <td>
                                    <table cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    Initially Displayed Page:
                                                </td>
                                                <td style="width: 5px"></td>
                                                <td>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <input id="radioButtonPage1" type="radio" name="PageNumber" value="radioButtonPage1"><label for="radioButtonPage1">1</label>
                                                                </td>
                                                                <td style="width: 20px"></td>
                                                                <td>
                                                                    <input id="radioButtonPage2" type="radio" name="PageNumber" value="radioButtonPage2" checked="checked"><label for="radioButtonPage2">2</label>
                                                                </td>
                                                                <td style="width: 20px"></td>
                                                                <td>
                                                                    <input id="radioButtonPage3" type="radio" name="PageNumber" value="radioButtonPage3"><label for="radioButtonPage3">3</label>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" style="height: 10px"></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Set Initial Zoom Level:
                                                </td>
                                                <td style="width: 5px"></td>
                                                <td>
                                                    <table cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <input name="textBoxZoomLevel" type="text" value="111" id="textBoxZoomLevel" style="width:35px;">
                                                                </td>
                                                                <td style="width: 5px"></td>
                                                                <td>
                                                                    %
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="height: 20px"></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" name="buttonCreatePdf" value="Create PDF with Open Action" id="buttonCreatePdf">
                </td>
            </tr>
        </tbody>
    </table>
}

