
@{
    ViewBag.Title = "PDF Images Demo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    SelectTreeViewNode("treeView_PdfImages");
</script>

@using (Html.BeginForm("CreatePdf", "PdfImages", FormMethod.Post))
{
    <table cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td>
                    In this demo you can learn how to layout image objects in a PDF document. There
                    are basically four types of images that can be laid out in a PDF document which
                    are exemplified in this demo: PNG images with alpha transparency, opaque JPEG images,
                    vectorial SVG images and images resulted from HTML documents rasterization. From
                    this demo you can also learn how to layout a rotated image in PDF using rotations
                    and traslations of the coordinates system.
                </td>
            </tr>
            <tr>
                <td style="height: 20px"></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" name="buttonCreatePdf" value="Create PDF with Images" id="buttonCreatePdf">
                </td>
            </tr>
        </tbody>
    </table>
}

