
@{
    ViewBag.Title = "Convert HTML to Image";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function toggleHtmlSource(convertUrl) {
        var urlPanel = document.getElementById("panelUrl");
        var htmlStringPanel = document.getElementById("panelHtmlCode");

        if (convertUrl && urlPanel.style.display == "none") {
            urlPanel.style.display = "block";
            htmlStringPanel.style.display = "none";
        }
        else if (!convertUrl && htmlStringPanel.style.display == "none") {
            urlPanel.style.display = "none";
            htmlStringPanel.style.display = "block";
        }
    }

    function toggleWaitTimePanel(triggerMode) {
        var panelEnabled = triggerMode == "WaitTime";
        var waitTimePanel = document.getElementById("panelWaitTime");

        if (panelEnabled)
            waitTimePanel.style.display = "block";
        else
            waitTimePanel.style.display = "none";
    }

    function togglePngTransPanel(selectedOption) {
        var pngTransPanel = document.getElementById("pngTransPanel");

        if (selectedOption == "PNG")
            pngTransPanel.style.display = "block";
        else
            pngTransPanel.style.display = "none";
    }

    SelectTreeViewNode("treeView_ConvertHtmlToImage");
</script>

@using (Html.BeginForm("ConvertToImage", "ConvertHtmlToImage", FormMethod.Post))
{
    <table cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td>
                    In this demo you can convert an URL or a HTML code to an image. You can select the
                    image format (PNG, JPG, BMP) and the browser width in pixels. When the selected
                    image format is PNG it is also possible to choose if the image background is transparent
                    when the HTML document does not have a background.
                </td>
            </tr>
            <tr>
                <td style="height: 20px"></td>
            </tr>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td>
                                    <span style="font-weight:bold;"><input id="radioButtonConvertUrl" type="radio" name="UrlOrHtmlCode" value="radioButtonConvertUrl" checked="checked" onclick="javascript: toggleHtmlSource(true)"><label for="radioButtonConvertUrl">Convert URL</label></span>
                                </td>
                                <td style="width: 50px"></td>
                                <td>
                                    <span style="font-weight:bold;"><input id="radioButtonConvertHtmlCode" type="radio" name="UrlOrHtmlCode" value="radioButtonConvertHtmlCode" onclick="javascript: toggleHtmlSource(false)"><label for="radioButtonConvertHtmlCode">Convert HTML Code</label></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="height: 20px"></td>
            </tr>
            <tr>
                <td>
                    <div id="panelUrl">

                        <table cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td style="padding-bottom: 5px">
                                        URL
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input name="textBoxUrl" type="text" value="http://www.hiqpdf.com" id="textBoxUrl" style="width:590px;">
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                    <div id="panelHtmlCode" style="display:none">

                        <table cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td>
                                        HTML
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <textarea name="textBoxHtmlCode" rows="2" cols="20" id="textBoxHtmlCode" style="height:200px;width:590px;">&lt;/br&gt;
&lt;/br&gt;
Please enter the HTML code to convert and the base URL to access the external images, scripts and css having relative URLs in the HTML code to convert.
                                            </textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height: 10px"></td>
                                </tr>
                                <tr>
                                    <td>
                                        Base URL
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input name="textBoxBaseUrl" type="text" id="textBoxBaseUrl" style="width:590px;">
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                </td>
            </tr>
            <tr>
                <td style="height: 20px"></td>
            </tr>
            <tr>
                <td style="font-weight: bold">
                    Settings
                </td>
            </tr>
            <tr>
                <td style="height: 20px"></td>
            </tr>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td style="width: 96px">
                                    Image Format:
                                </td>
                                <td style="width: 8px"></td>
                                <td style="width: 103px">
                                    <select name="dropDownListImageFormat" onchange="javascript: togglePngTransPanel(this.value)" id="dropDownListImageFormat">
                                        <option selected="selected" value="PNG">PNG</option>
                                        <option value="JPG">JPG</option>
                                        <option value="BMP">BMP</option>

                                    </select>
                                </td>
                                <td style="width: 7px"></td>
                                <td style="height: 30px">
                                    <div id="pngTransPanel">
                                        <input id="checkBoxTransparentImage" type="checkbox" name="checkBoxTransparentImage"><label for="checkBoxTransparentImage">Create Transparent Background (PNG only)</label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="height: 10px"></td>
            </tr>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td>
                                    Browser Width:
                                </td>
                                <td style="width: 5px"></td>
                                <td>
                                    <input name="textBoxBrowserWidth" type="text" value="1200" id="textBoxBrowserWidth" style="width:35px;">
                                </td>
                                <td style="width: 5px"></td>
                                <td>
                                    px
                                </td>
                                <td style="width: 65px"></td>
                                <td>
                                    Browser Height:
                                </td>
                                <td style="width: 5px"></td>
                                <td>
                                    <input name="textBoxBrowserHeight" type="text" id="textBoxBrowserHeight" style="width:35px;">
                                </td>
                                <td style="width: 5px"></td>
                                <td>
                                    px
                                </td>
                                <td style="width: 65px"></td>
                                <td>
                                    Timeout:
                                </td>
                                <td style="width: 5px"></td>
                                <td>
                                    <input name="textBoxLoadHtmlTimeout" type="text" value="120" id="textBoxLoadHtmlTimeout" style="width:30px;">
                                </td>
                                <td style="width: 5px"></td>
                                <td>
                                    sec
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="height: 10px"></td>
            </tr>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td style="height: 30px; font-weight: normal">
                                    Triggering Mode:
                                </td>
                                <td style="width: 5px; height: 30px;"></td>
                                <td style="height: 30px;">
                                    <select name="dropDownListTriggeringMode" onchange="javascript: toggleWaitTimePanel(this.value)" id="dropDownListTriggeringMode">
                                        <option value="Auto">Auto</option>
                                        <option value="Manual">Manual</option>
                                        <option selected="selected" value="WaitTime">WaitTime</option>

                                    </select>
                                </td>
                                <td style="width: 28px; height: 30px;"></td>
                                <td style="height: 30px">
                                    <div id="panelWaitTime">

                                        <table cellpadding="0" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        Wait Time:
                                                    </td>
                                                    <td style="width: 5px"></td>
                                                    <td>
                                                        <input name="textBoxWaitTime" type="text" value="2" id="textBoxWaitTime" style="width:30px;">
                                                    </td>
                                                    <td style="width: 5px"></td>
                                                    <td>
                                                        sec
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="height: 20px"></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" name="buttonConvertToImage" value="Convert to Image" id="buttonConvertToImage">
                </td>
            </tr>
        </tbody>
    </table>
}