
@{
    ViewBag.Title = "PDF Graphics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    SelectTreeViewNode("treeView_PdfGraphics");
</script>

@using (Html.BeginForm("CreatePdf", "PdfGraphics", FormMethod.Post))
{
    <table cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td>
                    In this demo you can learn how to layout graphics in a PDF document with various
                    line styles and fill modes. There are examples for drawing lines, circles, ellipses,
                    elippses arcs and slices, rectangles, Bezier curves and polygons.
                </td>
            </tr>
            <tr>
                <td style="height: 20px"></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" name="buttonCreatePdf" value="Create PDF with Graphics" id="buttonCreatePdf">
                </td>
            </tr>
        </tbody>
    </table>
}

