
@{
    ViewBag.Title = "PDF Forms - Fill and Save Forms";
    Layout = "~/Views/Shared/_Layout.cshtml";

    String crtPageUri = Request.Url.AbsoluteUri;
    String pageUri = crtPageUri.Substring(0, crtPageUri.Length - "FillAndSaveForms".Length);
    ViewData["PdfUrl"] = pageUri + "DemoFiles/Pdf/PdfWithForm.pdf";
}

<script>
    SelectTreeViewNode("treeView_FillAndSaveForms");
</script>

@using (Html.BeginForm("CreatePdf", "FillAndSaveForms", FormMethod.Post))
{
    <table cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td>
                    In this demo you can learn how to load a PDF document with a form, enter some values
                    from code and then save the modified PDF document.<br>
                    <br>
                    After the PDF document was loaded you can iterate the fields in the Document.Form.Fields
                    collection or you can get a field from collection by index or by name.
                </td>
            </tr>
            <tr>
                <td style="height: 20px"></td>
            </tr>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td style="padding-bottom: 5px; font-weight: bold">
                                    PDF Document with Form to Fill
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input name="textBoxPdf" type="text" value="@(ViewData["PdfUrl"].ToString())" id="textBoxPdf" disabled="disabled" style="width:539px;">
                                </td>
                                <td style="width:5px"></td>
                                <td>
                                    <a id="hyperLinkOpen" href="@(ViewData["PdfUrl"].ToString())" target="_blank">Open</a>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="height: 20px"></td>
            </tr>
            <tr>
                <td style="font-weight: bold">
                    Enter the Form Fields Values
                </td>
            </tr>
            <tr>
                <td style="height: 15px"></td>
            </tr>
            <tr>
                <td>
                    <span style="font-weight:normal;"><input id="checkBoxChecked" type="checkbox" name="checkBoxChecked"><label for="checkBoxChecked">Check Box Field is Checked</label></span>
                </td>
            </tr>
            <tr>
                <td style="height: 15px"></td>
            </tr>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td>
                                    Text Box Field Text:
                                </td>
                                <td style="width: 40px"></td>
                                <td>
                                    <input name="textBoxText" type="text" value="My text" id="textBoxText" style="width:382px;">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="height: 15px"></td>
            </tr>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td>
                                    List Box Field Value:
                                </td>
                                <td style="width: 38px"></td>
                                <td>
                                    <select name="dropDownListListBoxValue" id="dropDownListListBoxValue">
                                        <option value="List Value 1">List Value 1</option>
                                        <option selected="selected" value="List Value 2">List Value 2</option>
                                        <option value="List Value 3">List Value 3</option>
                                        <option value="List Value 4">List Value 4</option>

                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="height: 15px"></td>
            </tr>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td>
                                    Combo Box Field Value:
                                </td>
                                <td style="width: 20px"></td>
                                <td>



                                    <select name="dropDownListComboBoxValue" id="dropDownListComboBoxValue">
                                        <option value="Combo Value 1">Combo Value 1</option>
                                        <option selected="selected" value="Combo Value 2">Combo Value 2</option>
                                        <option value="Combo Value 3">Combo Value 3</option>

                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="height: 15px"></td>
            </tr>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td>
                                    Selected Radio Button:
                                </td>
                                <td style="width: 25px"></td>
                                <td>
                                    <input id="radioButton1" type="radio" name="SelectedRadionButton" value="radioButton1" checked="checked"><label for="radioButton1">Radio Button 1</label>
                                </td>
                                <td style="width: 20px"></td>
                                <td>
                                    <input id="radioButton2" type="radio" name="SelectedRadionButton" value="radioButton2"><label for="radioButton2">Radio Button 2</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="height: 20px"></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" name="buttonFillAndSavePdf" value="Fill and Save PDF" id="buttonFillAndSavePdf">
                </td>
            </tr>
        </tbody>
    </table>
}

