
@{
    ViewBag.Title = "PDF to HTML Converter Demo";
    Layout = "~/Views/Shared/_Layout.cshtml";

    String crtPageUri = Request.Url.AbsoluteUri;
    String pageUri = crtPageUri.Substring(0, crtPageUri.Length - "PdfToHtmlConverter".Length);
    ViewData["PdfUrl"] = pageUri + "DemoFiles/Pdf/Presentation.pdf";
}

<script>
    SelectTreeViewNode("treeView_PdfToHtmlConverter");
</script>

@using (Html.BeginForm("ConvertPdfToHtml", "PdfToHtmlConverter", FormMethod.Post))
{
    <table cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td>
                    In this demo you can learn how to convert the pages of a PDF document to HTML documents.
                    You can choose the  resolution of the resulted HTML document, the zoom level and the range
                    of PDF pages to convert to HTML.
                </td>
            </tr>
            <tr>
                <td style="height: 20px"></td>
            </tr>
            <tr>
                <td style="font-weight: bold">
                    PDF document:
                </td>
            </tr>
            <tr>
                <td style="height: 10px"></td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <a id="hyperLinkOpenPdf" href="@(ViewData["PdfUrl"].ToString())" target="_blank">Open the Input PDF Document</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="height: 20px"></td>
            </tr>
            <tr>
                <td style="font-weight: bold">
                    Settings
                </td>
            </tr>
            <tr>
                <td style="height: 10px"></td>
            </tr>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td>
                                    Resolution:
                                </td>
                                <td style="width: 5px"></td>
                                <td>
                                    <input name="textBoxDPI" type="text" value="150" id="textBoxDPI" style="width:35px;">
                                </td>
                                <td style="width: 5px"></td>
                                <td>
                                    DPI
                                </td>
                                <td style="width: 30px"></td>
                                <td>
                                    Zoom:
                                </td>
                                <td style="width: 3px"></td>
                                <td>
                                    <input name="textBoxZoom" type="text" value="100" id="textBoxZoom" style="width:30px;">
                                </td>
                                <td style="width: 1px"></td>
                                <td>
                                    %
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="height: 20px"></td>
            </tr>
            <tr>
                <td style="font-weight: bold">
                    Page Range
                </td>
            </tr>
            <tr>
                <td style="height: 10px"></td>
            </tr>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td>
                                    From:
                                </td>
                                <td style="width: 5px"></td>
                                <td>
                                    <input name="textBoxFromPage" type="text" value="1" id="textBoxFromPage" style="width:35px;">
                                </td>
                                <td style="width: 30px"></td>
                                <td>
                                    To:
                                </td>
                                <td style="width: 5px"></td>
                                <td>
                                    <input name="textBoxToPage" type="text" id="textBoxToPage" style="width:35px;">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="height: 20px"></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" name="buttonConvertPdfToHtml" value="Convert PDF Pages to HTML" id="buttonConvertPdfToHtml">
                </td>
            </tr>
        </tbody>
    </table>
}

