
@{
    ViewBag.Title = "HTML to PDF - HTML Elements Position in PDF";
    Layout = "~/Views/Shared/_Layout.cshtml";

    String crtPageUri = Request.Url.AbsoluteUri;
    String pageUri = crtPageUri.Substring(0, crtPageUri.Length - "HtmlElementsPositionInPdf".Length);
    ViewData["Url"] = pageUri + "DemoFiles/Html/ReplaceImage.htm";
}

<script>
    SelectTreeViewNode("treeView_HtmlElementsPositionInPdf");
</script>

@using (Html.BeginForm("ConvertToPdf", "HtmlElementsPositionInPdf", FormMethod.Post))
{
    <table cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td>
                    In this demo you can learn how to hide a HTML image from the generated PDF document
                    and how to place a different image in the same position. By default the CSS selector
                    selects all the images from HTML document for replacement. You can modify the CSS
                    selector to select an image with a given ID using a selector like #ImageID.<br>
                    <br>
                    A similar approach can be used for example to replace the HTML form elements with
                    PDF form elements in order to create interractive PDF forms.
                </td>
            </tr>
            <tr>
                <td style="height: 20px"></td>
            </tr>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td colspan="3" style="padding-bottom: 5px; font-weight: bold">
                                    HTML Document URL
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input name="textBoxUrl" type="text" value="@(ViewData["Url"].ToString())" id="textBoxUrl" style="width:590px;">
                                </td>
                                <td style="width: 5px"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="height: 20px"></td>
            </tr>
            <tr>
                <td style="font-weight: bold">
                    Settings
                </td>
            </tr>
            <tr>
                <td style="height: 20px"></td>
            </tr>
            <tr>
                <td>
                    CSS Selector of the Images to Replace :
                </td>
            </tr>
            <tr>
                <td style="height: 10px"></td>
            </tr>
            <tr>
                <td>
                    <input name="textBoxImageSelector" type="text" value="IMG" id="textBoxImageSelector" style="width:169px;">
                </td>
            </tr>
            <tr>
                <td style="height: 20px"></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" name="buttonCreatePdf" value="Create PDF" id="buttonCreatePdf">
                </td>
            </tr>
        </tbody>
    </table>
}

