
@{
    ViewBag.Title = "PDF Outlines and Links";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    SelectTreeViewNode("treeView_PdfOutlinesAndLinks");
</script>

@using (Html.BeginForm("CreatePdf", "PdfOutlinesAndLinks", FormMethod.Post))
{
    <table cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td>
                    In this demo you can learn how to create a simple table of contents. There are 2
                    chapters and each chapter has 2 subchapters. The demo will create in the first page
                    a table of contents with internal links to the chapters and subchapters. There are
                    also outlines in document for each chapter and subchapter.<br>
                    <br>
                    The table of contents also contains a HTTP link to visit the HiQPdf website and
                    a text note.
                </td>
            </tr>
            <tr>
                <td style="height: 20px"></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" name="buttonCreatePdf" value="Create PDF with Outlines" id="buttonCreatePdf">
                </td>
            </tr>
        </tbody>
    </table>
}

