
@{
    ViewBag.Title = "HTML to PDF - Auto Create Table of Contents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    SelectTreeViewNode("treeView_AutoCreateTableOfContents");
</script>

@using (Html.BeginForm("ConvertToPdf", "AutoCreateTableOfContents", FormMethod.Post))
{
    <table cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td>
                    In this demo you learn how to automatically create a table of contents in the beginning of the generated PDF document
                    based on the H1 to H6 tags found in HTML document.
                </td>
            </tr>
            <tr>
                <td style="height: 20px"></td>
            </tr>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td style="padding-bottom: 5px; font-weight: bold">HTML Code</td>
                            </tr>
                            <tr>
                                <td>
                                    <textarea name="textBoxHtmlCode" rows="2" cols="20" id="textBoxHtmlCode" style="height:270px;width:590px;">&lt;html&gt;
&lt;head&gt;
    &lt;title&gt;Auto Create Table of Contents&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;br /&gt;
    &lt;br /&gt;
    &lt;h1 class="pdf_outlines"&gt;Contents&lt;/h1&gt;
    &lt;a href="#Chapter1"&gt;Go To Chapter 1&lt;/a&gt;
    &lt;br /&gt;
    &lt;a href="#Chapter2"&gt;Go To Chapter 2&lt;/a&gt;
    &lt;br /&gt;
    &lt;a href="#Chapter3"&gt;Go To Chapter 3&lt;/a&gt;
    &lt;br /&gt;
    &lt;a href="http://www.hiqpdf.com"&gt;Visit Website&lt;/a&gt;
    &lt;h2 class="pdf_outlines" style="page-break-before: always" id="Chapter1"&gt;Chapter 1&lt;/h2&gt;
    This is the chapter 1 content.
    &lt;h2 class="pdf_outlines" style="page-break-before: always" id="Chapter2"&gt;Chapter 2&lt;/h2&gt;
    This is the chapter 2 content.
    &lt;h2 class="pdf_outlines" style="page-break-before: always" id="Chapter3"&gt;Chapter 3&lt;/h2&gt;
    This is the chapter 3 content.
&lt;/body&gt;
&lt;/html&gt;


                                        </textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="height: 20px"></td>
            </tr>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td>
                                    <input type="submit" name="buttonCreatePdf" value="Create PDF" id="buttonCreatePdf" style="height: 26px">
                                </td>
                                <td style="width: 50px"></td>
                                <td>
                                    <input id="checkBoxCreateTOC" type="checkbox" name="checkBoxCreateTOC" checked="checked"><label for="checkBoxCreateTOC">Auto Create Table of Contents</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>

            </tr>
        </tbody>
    </table>
}

