
@{
    ViewBag.Title = "HTML to PDF - Convert Many HTML Documents into a Single PDF";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function toggleNewPageOrientationPanel(panelEnabled) {
        var newPageOrientationPanel = document.getElementById("panelNewPageOrientation");

        if (panelEnabled)
            newPageOrientationPanel.style.display = "block";
        else
            newPageOrientationPanel.style.display = "none";
    }

    SelectTreeViewNode("treeView_ConvertManyHtmlToPdf");
</script>

@using (Html.BeginForm("ConvertToPdf", "ConvertManyHtmlToPdf", FormMethod.Post))
{
    <table cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td>
                    In this demo you can learn how to layout and overlay multiple HTML objects in the
                    same PDF document.<br>
                    <br>
                    The HTML from URL 1 is laid out at the beginning of the PDF document and the URL
                    2 is laid out immediately after first HTML or on a new page if 'Layout on New Page'
                    option is on. If the second HTML is laid out on a new page then there is the option
                    to change the orientation of the new pages.
                </td>
            </tr>
            <tr>
                <td style="height: 20px"></td>
            </tr>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td style="padding-bottom: 5px; font-weight: bold">
                                    URL 1
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input name="textBoxUrl1" type="text" value="http://www.hiqpdf.com" id="textBoxUrl1" style="width:590px;">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="height: 20px"></td>
            </tr>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td style="padding-bottom: 5px; font-weight: bold">
                                    URL 2
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input name="textBoxUrl2" type="text" value="http://www.cnn.com" id="textBoxUrl2" style="width:590px;">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="height: 20px"></td>
            </tr>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td>
                                    <input id="checkBoxNewPage" type="checkbox" name="checkBoxNewPage" onclick="javascript: toggleNewPageOrientationPanel(this.checked)"><label for="checkBoxNewPage">Layout URL 2 on New Page</label>
                                </td>
                                <td style="width: 45px"></td>
                                <td style="width: 250px">
                                    <div id="panelNewPageOrientation" style="width:100%; display:none">

                                        <table cellpadding="0" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        New Page Orientation:
                                                    </td>
                                                    <td style="width: 5px"></td>
                                                    <td>
                                                        <select name="dropDownListPageOrientations" id="dropDownListPageOrientations">
                                                            <option selected="selected" value="Portrait">Portrait</option>
                                                            <option value="Landscape">Landscape</option>

                                                        </select>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="height: 20px"></td>
            </tr>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td>
                                    <input id="checkBoxAddHeader" type="checkbox" name="checkBoxAddHeader"><label for="checkBoxAddHeader">Add Header</label>
                                </td>
                                <td style="width: 40px;"></td>
                                <td>
                                    <input id="checkBoxAddFooter" type="checkbox" name="checkBoxAddFooter"><label for="checkBoxAddFooter">Add Footer</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="height: 20px"></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" name="buttonCreatePdf" value="Create PDF" id="buttonCreatePdf">
                </td>
            </tr>
        </tbody>
    </table>
}

