
@{
    ViewBag.Title = "HTML with Web Fonts Conversion to PDF Demo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    SelectTreeViewNode("treeView_WebFonts");
</script>

@using (Html.BeginForm("ConvertToPdf", "WebFonts", FormMethod.Post))
{
    <table cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td>
                    The Web Fonts can be used in a HTML document without being installed on the local
                    computer. The location from where they can be downloaded is given in the CSS3 @@font-face
                    rule. The HiQPdf HTML to PDF Converter has the capacity to convert HTML documents
                    with true type Web Fonts.<br>
                    <br>
                    This application demonstrates the converter support for WOFF (Web Open Font Format).
                    Please note that your browser must support the WOFF format. The browsers currently
                    supporting WOFF are IE 9 or later, Google Chrome, Mozilla Firefox and Apple Safari.
                </td>
            </tr>
            <tr>
                <td style="height: 20px"></td>
            </tr>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td style="padding-bottom: 5px; font-weight: bold">
                                    The URL of a HTML Document to Convert:
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input name="textBoxUrl" type="text" value="http://www.hiqpdf.com/html/webfonts.html" id="textBoxUrl" style="width:590px;">
                                </td>
                                <td style="width: 5px"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="height: 20px"></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" name="buttonCreatePdf" value="Create PDF with Web Fonts" id="buttonCreatePdf">
                </td>
            </tr>
        </tbody>
    </table>
}

