
@{
    ViewBag.Title = "Rasterize PDF Pages to Images Demo";
    Layout = "~/Views/Shared/_Layout.cshtml";

    String crtPageUri = Request.Url.AbsoluteUri;
    String pageUri = crtPageUri.Substring(0, crtPageUri.Length - "RasterizePdfPagesToImages".Length);
    ViewData["PdfUrl"] = pageUri + "DemoFiles/Pdf/InputPdf.pdf";
}

<script>
    SelectTreeViewNode("treeView_RasterizePdfPagesToImages");
</script>

@using (Html.BeginForm("RasterizeToImages", "RasterizePdfPagesToImages", FormMethod.Post))
{
    <table cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td>
                    In this demo you can learn how to rasterize the pages of PDF document to images. You can choose the color space of resulted images,
                    the resolution of the rasterization and the range of PDF pages to rasterize. You can also choose to convert to a multipage TIFF image.
                </td>
            </tr>
            <tr>
                <td style="height: 20px"></td>
            </tr>
            <tr>
                <td style="font-weight: bold">
                    PDF document:
                </td>
            </tr>
            <tr>
                <td style="height: 10px"></td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tbody>
                            <tr>
                                <td style="height: 20px">
                                    <a id="hyperLinkOpenPdf" href="@(ViewData["PdfUrl"].ToString())" target="_blank">Open the Input PDF Document</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="height: 20px"></td>
            </tr>
            <tr>
                <td style="font-weight: bold">
                    Settings
                </td>
            </tr>
            <tr>
                <td style="height: 10px"></td>
            </tr>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td>
                                    Images Color Space:
                                </td>
                                <td style="width: 5px"></td>
                                <td>
                                    <select name="dropDownListColorSpace" id="dropDownListColorSpace">
                                        <option value="RGB">RGB</option>
                                        <option value="Gray Scale">Gray Scale</option>
                                        <option value="Black and White">Black and White</option>

                                    </select>
                                </td>
                                <td style="width: 30px"></td>
                                <td>
                                    <input id="checkBoxToTiff" type="checkbox" name="checkBoxToTiff"><label for="checkBoxToTiff">Convert To Multipage TIFF</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="height: 10px"></td>
            </tr>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td>
                                    Rasterization Resolution:
                                </td>
                                <td style="width: 5px"></td>
                                <td>
                                    <input name="textBoxDPI" type="text" value="150" id="textBoxDPI" style="width:35px;">
                                </td>
                                <td style="width: 5px"></td>
                                <td>
                                    DPI
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="height: 20px"></td>
            </tr>
            <tr>
                <td style="font-weight: bold">
                    Page Range
                </td>
            </tr>
            <tr>
                <td style="height: 10px"></td>
            </tr>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td>
                                    From:
                                </td>
                                <td style="width: 5px"></td>
                                <td>
                                    <input name="textBoxFromPage" type="text" value="1" id="textBoxFromPage" style="width:35px;">
                                </td>
                                <td style="width: 30px"></td>
                                <td>
                                    To:
                                </td>
                                <td style="width: 5px"></td>
                                <td>
                                    <input name="textBoxToPage" type="text" id="textBoxToPage" style="width:35px;">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="height: 20px"></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" name="buttonRasterizeToImages" value="Rasterize PDF Pages to Images" id="buttonRasterizeToImages">
                </td>
            </tr>
        </tbody>
    </table>
}

