
@{
    ViewBag.Title = "Select a Target Media Type and Render HTML to PDF with Screen or Print Layout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    SelectTreeViewNode("treeView_MediaTypeSelection");
</script>

@using (Html.BeginForm("ConvertToPdf", "MediaTypeSelection", FormMethod.Post))
{
    <table cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td>
                    In this demo you learn how to change the CSS properties of a HTML document based
                    on media type selection. By default the HTML to PDF converter will render the HTML
                    document for 'screen', but this can be changed when another media type is assigned
                    to HtmlToPdf.MediaType property.
                    <br>
                    <br>
                    For example, when this property is set to 'print' the CSS properties defined by
                    the '@@media print' rule will be used when the HTML is rendered instead of the CSS
                    properties defined by the '@@media screen' rule.
                </td>
            </tr>
            <tr>
                <td style="height: 20px"></td>
            </tr>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td style="padding-bottom: 5px; font-weight: bold">
                                    HTML Code
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <textarea name="textBoxHtmlCode" rows="2" cols="20" id="textBoxHtmlCode" style="height:335px;width:590px;">
&lt;html&gt; 
&lt;head&gt; 
    &lt;title&gt;
        HTML to PDF Rendering Changes Based on Selected Media Type
    &lt;/title&gt; 
    &lt;style type="text/css"&gt; 
        body { 
            font-family: 'Arial'; 
            font-size: 16px; 
        } 
        
        @@media screen 
        { 
            p 
            { 
                font-family: Verdana; 
                font-size: 14px; 
                font-style: italic; 
                color: Green; 
            } 
        } 
        @@media print 
        { 
            p 
            { 
                font-family: 'Courier New';
                font-size: 12px; 
                color: Black; 
            } 
        } 
        @@media screen,print 
        { 
            p 
            { 
                font-weight: bold; 
            } 
        } 
    &lt;/style&gt; 
&lt;/head&gt; 
&lt;body&gt; 
    &lt;br /&gt;&lt;br /&gt; 
    The style of the paragraph below is changed based on 
        the selected media type:
    &lt;br /&gt;&lt;br /&gt; 
    &lt;p&gt; 
        This is a media type selection test. When viewing on screen
        the text is bigger, italic and green. When printing the 
        text is smaller, normal and black.
    &lt;/p&gt; 
&lt;/body&gt; 
&lt;/html&gt;
                                        </textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="height: 20px"></td>
            </tr>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td>
                                    <b>Select Media Type:</b>
                                </td>
                                <td style="width: 8px"></td>
                                <td>
                                    <select name="dropDownListMediaType" id="dropDownListMediaType" style="width:80px;">
                                        <option selected="selected" value="screen">screen</option>
                                        <option value="print">print</option>

                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="height: 20px"></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" name="buttonCreatePdf" value="Create PDF" id="buttonCreatePdf">
                </td>
            </tr>
        </tbody>
    </table>
}

